<h1><%= @park.name %></h1>
<p style="font-size: 17px; width: 660px;"><%= @park.description %><br></p>
<p style="color:#006400; font-size: 17px; text-transform:uppercase;"><strong>#<%= @park.hashtag %></strong></p>
<hr>
<% @photos.each do |photo| %>
<%= image_tag photo.images.thumbnail.url %>
<% end %>